
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;

}

h1{
    color: #ed1b2f;
    margin-bottom: 20px;
    font-size: 2rem;
}

.Registration-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7a7a7a;
    padding: 30px 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;

}

.row{
    display: flex;
    gap: 10px;
    width: 100%;
}


select,button,input{
    padding: 12px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
}

button{
    background-color: #ed1b2f;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #c41628;
}


@media (max-width:600px) {
    .Registration-area{
        padding: 24px 16px;
        border-radius: 16px;
    }

    .row{
        flex-direction: column;
        gap: 0;
    }

    h1{
        font-size: 1.7rem;
    }
    
}

